# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches:
      - master

name: Render site

jobs:
  render-rmarkdown:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GHTOKEN2 }}
      GITHUB_PAT: ${{ secrets.GHTOKEN2 }}
      REDMINE_URL: ${{ secrets.RURL }}
      REDMINE_TOKEN: ${{ secrets.RTOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'renv'
      

      - name: Install ubuntu deps
        run: sudo apt-get install -y make libicu-dev libxml2-dev libssl-dev pandoc librdf0-dev libnode-dev libcurl4-gnutls-dev
        
      - uses: r-lib/actions/setup-renv@v2
      #     git-core \
      #     libssl-dev \
      #     libcurl4-openssl-dev \
      #     curl \
      #     libsodium-dev \
      #     libxml2-dev
          
      - name: Render site
        run: |
          Rscript -e "install.packages(c('rmarkdown','ymlthis','magrittr','dplyr','DT','jsonlite','yaml','scholar','lubridate','stringr'))"
          Rscript -e "install.packages(c('remotes'))"
          Rscript -e "remotes::install_github('openanalytics/redmineR')"
          Rscript docs/makeSite.R
      - name: Commit
        run: |
          git config --global user.name "ThomasCarroll"
          git config --global user.email "tc.infomatics@gmail.com"
          git config --global http.postBuffer 263112000
          git add docs/\*
          git commit -m 'Autobuild' 
          git push origin HEAD:refs/heads/master
